<nav class="navbar d-flex justify-content-center mt-5">
  <p class="text-center fs-4">Olá, me chamo <strong>Daniele Tavares Lobo</strong>. Esse é um Menu com botões de contato. <br> Clicando em cada botão você será levado a uma forma diferente de contato comigo!</p>
  <form class="container-fluid justify-content-center mt-3 mb-5">
    <button class="btn btn-rosa text-white btn-lg fs-3 me-4" type="button"><a class="nav-link" href="https://www.linkedin.com/in/danitavareslobo" target="_blank">Linkedin</a></button>
    <button class="btn btn-rosa text-white btn-lg fs-3 me-4" type="button"><a class="nav-link" href="https://github.com/danitavareslobo" target="_blank">GitHub</a></button>
    <button class="btn btn-rosa text-white btn-lg fs-3 me-4" type="button"><a class="nav-link" href="mailto:danitavares.dev@gmail.com" target="_blank">E-mail</a></button>
    <button class="btn btn-rosa text-white btn-lg fs-3 me-4" type="button"><a class="nav-link" href="https://wa.me/5547996356860" target="_blank">Whatsapp</a></button>
  </form>

  <img src="../../assets/danitl-logo.png" alt="Dani Tavares Lobo" width="400px" height="250px">
</nav>


